@font-face {
  font-family: 'lato';
  src : url('https://fonts.googleapis.com')
}

body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color:#EDEADB ;
}

main{
  background-color:#FFFFFF ;
}

footer{
  background-color: #F9F8F4;
}

h2{
  font-size: 18px;
}

p{
  line-height: 18px;
}

.flex {
  display: flex;
  justify-content: space-around;

}

 #top {
  display: flex;
  margin: 10px;;
}

.header-top{
  border-bottom: 1px solid #9c9c9a;
}

.image-top{
  max-width: 170px;
  height: 40px;
  margin: 10px;
}

#top input{
  display: block;
  margin: 5px;
  padding: 5px;
  border:none;
}

#top #rememberme{
  display: inline;
}

#top #submit{
  width: 60px;
  height: 40px;
  background-color: #382110;
  color: white;
  border-radius: 5px;
  border: none;
}

.header-down{
  justify-content: center;
  border-bottom: 15px solid #F3F2E8;
  margin-top: 10px;
}

#form-head {
  max-width:300px;
}
#form-head input {
display: block;
margin: 5px;
padding: 5px;
width: 90%;
border: none;
border-radius: 3px;
}

#signin-button {
  background-color: #FDD05F;
  border: none;
  border-radius: 5px;
  padding: 5px 0px 5px 0px;
}
.image-head {
  margin: 20px;
  padding: 20px;
}

.div-signin {
  display: flex;
  font-size: 10px;;
}

.click{
  color: #7c7c79;
}

.signin-logo{
  display: flex;
  background-color: #333333;
  color:white;
  max-width: 300px;
  padding: 7px;
  border-radius: 5px;;
  margin-top: 25px;
}

.signin-logo ul {
  display: flex;
  list-style: none;
}

.signin-logo span{
  margin: 5px;
}

.signin-logo img {
  max-width: 25px;
  margin: 5px;;
}

.head-right {
  width: 25%;
  margin-left:150px;
}

.head-right h2{
  margin: 10px;
  font-size: 20px;
  font-weight:normal;
}

main{
  margin: 0 auto;
  width: 70%;
}

  #main-left {
  width: 65%;
  margin: 10px;
}

.main-right {
  width: 35%;
  margin: 10px;
}

.box{
  font-size: 13px;
  width: 40%;
  padding: 10px;
}

.box h3 {
  font-size: 18px;;
}

#left-row2 {
  border: 1px solid #F4F2E9 ;
  border-radius: 10px;
  background-color: #F4F2E9;
  
}

#left-row2 img{
  margin: 0px 12px 0px 0px;
  width: 80px;
  height: 100px;
}

.arrow {
  max-width: 25px;
  max-height: 25px;
}

.part1{
  width:70%;
}

.part2{
  width: 30%;
}

.secondchild{
  line-height: 18px;
  width: 110px;
  font-size: 13px;
  font-weight: bold;
}

.article1{
  width: 100%;
  padding: 5px;
}

.article1 img{
  max-width:100%;
}

#listsTeaserBox h2{
  margin: 20px 0px 10px 0px;
}

.listTeaser{
  border-bottom: 1px solid  #ebece7;
  padding: 5px;
}

.listTitle {
  line-height: 10px;;
}

.listTitle a {
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  color: #00635d;

}

.smallText {
  font-size: 11px;
  line-height: 14px;
  text-align: left;
  color:#999;
}

.listImg img {
  max-height: 40px;
  cursor: pointer;
}

.listImg {
  max-width: 120px;
  max-height: 40px;
}

#authorsTeaserBox p {
  margin: 18px 0px;
  line-height: 18px;
  font-size: 14px;

}

.gr-hyperlink {
  color:#00635D;
  text-decoration: none;
  line-height: 18px;
  font-size: 14px;
}

.gr-button {
  background-color: #F4F1EA;
  border: 1px solid rgb(214, 208, 196);
  color: #333333;
  font-size: 11px;
  padding: 4px 12px;
}

.u-defaultType a {
  font-size: 14px;
  line-height: 1.5;
  color: #00635D;
  text-decoration: none;
}

#browseBox {
  margin-top: 10px;
}

.auto_complete_field_wrapper{
font-size: 12px;
line-height: 18px;
text-align: left;
}

#column1{
  width:60%;
  margin: 20px;
}

#column2{
  margin: 20px;
  width: 20%;
  align-items: flex-end;
}


.responsiveSiteFooter__link {
  color: #382110;
  text-decoration: none;
}

.responsiveSiteFooter__linkListItem {
  line-height: 1.5;
}

.responsiveSiteFooter__linkList {
  font-size: 14px;
  list-style: none;
}

.responsiveSiteFooter__heading {
  font-weight: bold;
  line-height: 1.15;
  margin: 12px 0;
  text-transform: uppercase;
  color: #767676;
  margin-bottom: 8px;
  font-size: 16px;

}

.gr-row{
  margin-top: 20px;
}

.gr-col-lg-4{
  margin: 10px;
}

.responsiveSiteFooter__socialLink {
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;

}

.responsiveSiteFooter__appLinksColumnContents {
  margin: 10px;
  width: auto;

}

footer{
  height: 240px;
}




