@font-face {
  font-family: 'lato';
  src : url('https://fonts.googleapis.com')
}

body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color:#EDEADB ;
}

main{
  background-color:#FFFFFF ;
}

footer{
  background-color: #F9F8F4;
}

h2{
  font-size: 18px;
}

p{
  line-height: 18px;
}

 

.header-top{
  border-bottom: 1px solid #9c9c9a;
}

#sign_in {
  margin: 0.5rem ;
  
}

.image-top{
  max-width: 120px;
  height: auto;
  margin: 0.5rem
}

.formBox {
  width:30%;
}

.formBox input{
  margin: 0.2rem;
  padding: 0.4rem;
  border:none;
  border-radius: 3px;
  font-size: 13px;
  max-width: 90%;
  
}

.formBox label,a {
  font-size: 12px;
  color: #999;
}

 .formBox .gr-button{
  max-width: 100%;
  background-color: #382110;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: normal;
}

.header-down{
  border-bottom: 15px solid #F3F2E8;
  margin-top: 1rem;
}

#form-head input {
margin: 0.4rem;
padding: 0.4rem;
border: none;
border-radius: 3px;
}

.input-form{
  width: 80%;
}

#signin-button {
  background-color: #FDD05F;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.3rem 0.3rem 0.4rem;
  font-size: 18px;
  width: 100px;

}
.image-head {
  padding: 2rem;
  max-width: 100%;
  height: auto;
}

.div-signin {
  font-size: 10px;
}

.click{
  color: #7c7c79;
  width: 55%;
}

.signin-logo{
  align-content: space-between;
  background-color: #333333;
  color:white;
  border-radius: 5px;
  margin-top: 2rem;
  width: 80%;

}

.signin-logo ul {
  list-style: none;
}

.signin-logo span{
  margin: 0.2rem;
}

.signin-logo img {
  max-width: 25px;
  margin: 0.2rem;
}

.head-right {
  width: 25%;
}

.head-right h2{
  margin: 1rem;
  font-size: 20px;
  font-weight:normal;
}

main{
  margin: 0 auto;
  width: 80%;
}

  #main-left {
  width: 65%;
  margin: 1rem;
}

.main-right {
  width: 35%;
  margin: 1rem;
}

.box{
  font-size: 13px;
  width: 45%;
  padding: 1rem;
}

.box h3 {
  font-size: 18px;;
}

#left-row2 {
  border: 1px solid #F4F2E9 ;
  border-radius: 10px;
  background-color: #F4F2E9;
  padding: 0.3rem 0rem 1rem 0rem;
}

#left-row2 h3 {
  margin: 0.5rem;
}

.bi-fix {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAYAAAA%2FtpB3AAAAOElEQVQIW2M6uG%2FlfyZGRkYGdIIBCKAsRgYMWXSCAU5gUYzVAAaELA5tCHUQAxjQZIFir16%2FhXAByw8GmnhQCm8AAAAASUVORK5CYII%3D);
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 0.5rem;
}

#left-row2 img{
  margin: 0rem 0.4rem 0rem 0rem;
  max-width: 80px;
  max-height: 100px;
}

.arrow {
  max-width: 25px;
  max-height: 25px;
}

.part1{
  width:65%;
}

.part2{
  width: 35%;
}

.bi-fix p {
  font-size: 0.6em;
  padding: 0.1rem;
}

#browseBox {
  margin-top: 2.5rem;
  padding-top: 0.5rem;
}


.secondchild{
  line-height: 18px;
  width:5%;
  font-size: 13rem;
  font-weight: bold;
}

.article1{
  width: 100%;
  padding: 0.5rem;
}

.article1 img{
  max-width:100%;
}

#listsTeaserBox h2{
  margin: 2rem 0rem 1rem 0rem;
}

.listTeaser{
  border-bottom: 1px solid  #ebece7;
  padding: 0.4rem;
}

.listTitle {
  line-height: 10px;
}

.listTitle a {
  font-size: 0.9rem;
  font-weight: normal;
  text-decoration: none;
  color: #00635d;

}

.smallText {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  line-height: 14px;
  text-align: left;
  color:#999;
}

.listImg img {
  max-height: 40px;
  cursor: pointer;
}

.listImg {
  max-width: 120px;
  max-height: 40px;
}

#authorsTeaserBox p {
  margin: 1.8rem 0rem;
  line-height: 18px;
  font-size: 14px;

}

.gr-hyperlink {
  color:#00635D;
  text-decoration: none;
  line-height: 18px;
  font-size: 14px;
}

.gr-button {
  background-color: #F4F1EA;
  border: 1px solid rgb(214, 208, 196);
  color: #333333;
  font-size: 11px;
  padding: 0.4rem 1.2rem;
}

.u-defaultType a {
  font-size: 14px;
  line-height: 1.5;
  color: #00635D;
  text-decoration: none;
}

#browseBox {
  margin-top: 10px;
}

.auto_complete_field_wrapper{
font-size: 12px;
line-height: 18px;
text-align: left;
margin-right: 0.3rem;
border: 1px solid gray;
}

#column1{
  width:60%;
  padding:0rem 2rem;
}

#column2{
  width: 20%;
  align-items: flex-end;
}


.responsiveSiteFooter__link {
  color: #382110;
  text-decoration: none;
}

.responsiveSiteFooter__linkListItem {
  line-height: 1.5;
}

.responsiveSiteFooter__linkList {
  font-size: 14px;
  list-style: none;
}

.responsiveSiteFooter__heading {
  font-weight: bold;
  line-height: 1.15;
  margin: 1.2rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #767676;
}

.gr-row{
  margin-top: 0.2rem;
}

.gr-col-lg-4{
  margin: 1rem;
}

.responsiveSiteFooter__socialLink {
  margin-right: 0.7rem;
}

.responsiveSiteFooter__appLinksColumnContents {
  margin: 10px;
  width: auto;

}

footer{
  height: auto;
}


@media only screen and (max-width:768px) {

  .flexflow {
    flex-flow: column wrap;
  }

  .r-fullwidth {
    width: 100%;
  }

    #main-left {
    width:100%;
  }

    .part2{
    width: 35%;
  }

  #column1 {
  width: 100%;
}

#column2 {
  width: 100%;
}

 .responsiveSiteFooter__socialLinkWrapper {
  flex-flow: column wrap;
}

}

@media only screen and (min-width:768px) and (max-width:1200px){
main {
  width: 100%;
}

.listTeaser {
  flex-flow: column wrap;
}

.signin-logo{
  flex-flow: column wrap;

}
}

