@font-face {
  font-family: 'lato';
  src : url('https://fonts.googleapis.com')
}

body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

*{
  margin:0;
  padding: 0;
}

header {
  background-color:#EDEADB ;
}

main{
  background-color:#FFFFFF ;
}

footer{
  background-color: #F9F8F4;
}


.nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #9c9c9a;

}

 #top {
  display: flex;
  margin: 10px;;
}

.image-top{
  max-width: 170px;
  height: 40px;
  margin: 10px;
}

#top input{
  display: block;
  margin: 5px;
  padding: 5px;
}

#top #rememberme{
  display: inline;
}

#top #submit{
  width: 60px;
  height: 40px;
  background-color: #382110;
  color: white;
  border-radius: 5px;
  border: none;
}

#head input {
display: block;
margin: 5px;
padding: 5px;
}

.image-head {
  margin: 20px;
  padding: 20px;
}

.div-signin {
  display: flex;
  font-size: 10px;;
}

.signin-logo{
  display: flex;
  background-color: #333333;
  color:white;
}

.signin-logo ul {
  display: flex;
  list-style: none;
}

.signin-logo span{
  margin: 5px;
}

.signin-logo img {
  max-width: 20px;
  margin: 5px;;
}

.head-right {
  width: 25%;
}

.head-right h2{
  margin: 10px;
  font-size: 20px;
  font-weight:normal;
}